:root {
  --color-primary: #CCC;
  --color-secondary: #888;
  --color-tertiary: #333;

  --size-mainWidth: 80em;
  --size-columnPaddingNormal: 10px; /* Connected elements */
  --size-columnPaddingMedium: 20px; /* Asscoaited elements */
  --size-columnPaddingLarge: 40px; /* Seperate elements */

  --size-radius: 10px;
  --size-mainPadding: 100px;
  --size-sidebar: 300px;
  --size-details: 150px;
  --size-header-normal: 70vh;
  --size-header-small: 40vh;

  --size-sectionHeightMin: 200px;
  --size-sectionHeightMax: 250px;

  --font-small: 2vw;
  --font-small-min: 1em;
  --font-small-max: 1.3em;
  
  --font-normal: 2.5vw;
  --font-normal-min: 1.25em;
  --font-normal-max: 2em;

  --font-large: 4vw;
  --font-large-min: 2em;
  --font-large-max: 3.2em;
}

/* MAIN ELEMENTS */
* {
  margin: 0;
  padding: 0;
}
html {
  font-family: sans-serif;
  font-weight: 100;
  color: var(--color-primary);
  background-color: #000 !important;
  /* min-height: 100%; */
  position: relative;
}
main {
  /* max-width: var(--size-mainWidth); */
  padding: var(--size-columnPaddingNormal) 5vw 0 5vw;
  margin: 0 auto 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  z-index: 100;
}
@media screen and (min-width: 80em) { /* MAX WIDTH REACHED */
  main {
    /* padding-left: var(--size-mainPadding);
    padding-right: var(--size-mainPadding); */
  }
}
p {
  clear: both;
}
.nav {
}

header {
  height: var(--size-header-normal);
  width: 100%;
}
@media only screen and (max-width: 50em) /* MIN WIDTH REACHED */
{
  header {
    height: var(--size-header-small);
  }
}
.headerImage {
  object-fit: cover;
  height: 100%;
  width: 100%;
  object-position: top;
}

.wrapper { /* Setup for forcing the footer to sticky to the bottom of page even if page content is short */
  min-height: 100%;
}

.subtleLink {
  text-decoration: none;
  color: var(--color-primary);
}
.subtleLink:hover {
  text-decoration: underline;
}



/* UTILITY-FIRST COMPONENTS https://frontstuff.io/in-defense-of-utility-first-css */
.marginTopNormal {
  margin-top: var(--size-columnPaddingNormal);
}
.marginTopMedium {
  margin-top: var(--size-columnPaddingMedium);
}
.marginTopLarge {
  margin-top: var(--size-columnPaddingLarge);
}

.marginBottomNormal {
  margin-bottom: var(--size-columnPaddingNormal);
}
.marginBottomMedium {
  margin-bottom: var(--size-columnPaddingMedium);
}
.marginBottomLarge {
  margin-bottom: var(--size-columnPaddingLarge);
}
.marginBottomXLarge {
  margin-bottom: var(--size-mainPadding);
}

.marginRightNormal {
  margin-right: var(--size-columnPaddingNormal);
}
.marginRightMedium {
  margin-right: var(--size-columnPaddingMedium);
}
.marginRightLarge {
  margin-right: var(--size-columnPaddingLarge);
}

.marginLeftNormal {
  margin-left: var(--size-columnPaddingNormal);
}
.marginLeftMedium {
  margin-left: var(--size-columnPaddingMedium);
}
.marginLeftLarge {
  margin-left: var(--size-columnPaddingLarge);
}

.fontSizeSmall {
  font-size: var(--font-small);
}
.fontSizeNormal {
  font-size: var(--font-normal);
}
.fontSizeLarge {
  font-size: var(--font-large);
}
@media only screen and (max-width: 50em) /* MIN WIDTH REACHED */
{
  .fontSizeSmall {
    font-size: var(--font-small-min);
  }
  .fontSizeNormal {
    font-size: var(--font-normal-min);
  }
  .fontSizeLarge {
    font-size: var(--font-large-min);
 }
}
@media screen and (min-width: 80em) { /* MAX WIDTH REACHED */
  .fontSizeSmall {
    font-size: var(--font-small-max);
  }
  .fontSizeNormal {
    font-size: var(--font-normal-max);
  }
  .fontSizeLarge {
     font-size: var(--font-large-max);
  }
}

.alignLeft {
  text-align: left;
}
.alignCenter {
  text-align: center;
}
.alignRight {
  text-align: right;
}
.alignCenterVertical {
  vertical-align: center;
}

.floatLeft {
  float: left;
}
.floatRight {
  float: right;
}

.marginLeftFill {
  margin-left: auto;
}

.colorMain {
  color: var(--color-primary);
}
.colorSecondary {
  color: var(--color-secondary);
}

.noDecoration {
  text-decoration: none;
}

.photoTop {
  object-position: top;
}
.photoCenter {
  object-position: center;
}
.photoBottom {
  object-position: bottom;
}
.photoAlignV10 {
  object-position: 50% 10%;
}
.photoAlignV20 {
  object-position: 50% 20%;
}
.photoAlignV30 {
  object-position: 50% 30%;
}
.photoAlignV40 {
  object-position: 50% 40%;
}
.photoAlignV50 {
  object-position: 50% 50%;
}
.photoAlignV60 {
  object-position: 50% 60%;
}
.photoAlignV70 {
  object-position: 50% 70%;
}
.photoAlignV80 {
  object-position: 50% 80%;
}
.photoAlignV90 {
  object-position: 50% 90%;
}

.flexboxRow {
  display: flex;
  flex-direction: row;
}
.flexboxColumn {
  display: flex;
  flex-direction: column;
}
.flexboxWrapToggle {
  flex-wrap: nowrap;
}

.widthFit {
  width: 100%;
  max-width: 100%;
  height: auto;
}
.widthHalf {
  max-width: 50%;
  height: auto;
}

.radiusNormal {
  border-radius: var(--size-radius);
}

.elementHalfLeft {
  border-radius: var(--size-radius);
  float: left;
  height: auto;
  margin-right: var(--size-columnPaddingNormal);
  max-width: calc(50% - var(--size-columnPaddingNormal));
  margin-bottom: var(--size-columnPaddingMedium);
}
.elementHalfRight {
  border-radius: var(--size-radius);
  float: right;
  height: auto;
  margin-left: var(--size-columnPaddingNormal);
  max-width: calc(50% - var(--size-columnPaddingNormal));
  margin-bottom: var(--size-columnPaddingMedium);
}
@media only screen and (max-width: 50em) { /* MIN WIDTH REACHED */
  .elementHalfLeft {
    max-width: 100%;
    margin-right: 0;
}
  .elementHalfRight {
    max-width: 100%;
    margin-left: 0;
  }
}



/* ARTICLE */
.article {
  width: 100%;
  display: flex;
  flex-direction: column; /* Position label below image */
  position: relative;
}
.article .articleTitle {
  position: absolute;
  bottom: var(--size-columnPaddingMedium);
  left: var(--size-columnPaddingMedium);
}
.article:hover .articleTitle {
  display: none;
}
.article:hover .articleBlackAndWhite {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%) brightness(100%);
}

.articleImg {
  width: 100%;
  object-fit: cover;
  margin: 0;
  height: 20vw;
  min-height: var(--size-sectionHeightMin);
  max-height: var(--size-sectionHeightMax);
  padding: 0;
}

.articleBlackAndWhite {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%) brightness(60%);
}

@media only screen and (max-width: 50em) /* MIN WIDTH REACHED */
{
  .articleTitle {
    font-size: var(--font-normal-min);
  }
  .trippleArticleContainer .article #articleDesc {
    display: none;
  }
  .flexboxWrapToggle {
    flex-wrap: wrap;
  }
  .trippleArticleContainer .article {
    width: calc(1/2 * 100% - (1 - 1/2) * var(--size-columnPaddingMedium));
  }
  .trippleArticleContainer .article:first-child {
    width: 100%;
    margin-bottom: var(--size-columnPaddingMedium);
  }
  .trippleArticleContainer .article:nth-child(2) {
    margin: 0;
  }
  .trippleArticleContainer .article:first-child .articleImg {
    height: calc(var(--size-sectionHeightMin) * 2);
  }
  .articleImg {
    height: var(--size-sectionHeightMin);
  }
}

.trippleArticleContainer .article {
  margin: 0 0 0 var(--size-columnPaddingMedium);
}
.trippleArticleContainer .article:first-child { /* No seperation margin for first element */
  margin-left: 0;
}

.listContainer {
  display: flex;
  flex-direction: column;
  max-width: 40em;
  margin-left: auto;
  margin-right: auto;
}
.detailsList {
  max-width: var(--size-details) !important;
  width: 15vw;
  min-width: 100px;
  height: 100%;
  flex-shrink: 0;
  margin-left: var(--size-columnPaddingMedium);
}

.contentContainer {
  display: flex;
  flex-direction: column;
}

.sidebarContainer {
  z-index: 1000;
  height: calc(100% - var(--size-header-normal));
  max-height: 100%;
  position: absolute;
}
@media only screen and (max-width: 80em)
{
  .sidebarContainer {
    position: relative;
    height: auto;
  }
}

.sidebar {
  display: block;
  flex-shrink: 0;
  margin-top: var(--size-columnPaddingNormal);
  margin-bottom: var(--size-columnPaddingNormal);
  left: 5vw;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: var(--size-columnPaddingLarge);
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 80em) { /* MAX WIDTH REACHED */
  .sidebar {
    position: auto;
    width: 15rem;
  }
}
@media only screen and (max-width: 50em) /* MIN WIDTH REACHED */
{
  .sidebar {
  width: 100%;
  }
}

.articleSpacer {
  height: 100%;
  flex-shrink: 0;
}
.articleContainer {
}
@media screen and (min-width: 80em) { /* MAX WIDTH REACHED */
  .articleContainer {

  }
}

.articleBody {
  max-width: 40em;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 50em) /* MIN WIDTH REACHED */
{
  /* .listContainer {
    flex-direction: column;
  } */
  .articleSpacer {
    display: none;
  }
}
@media screen and (min-width: 80em) { /* MAX WIDTH REACHED */
  .listContainer {
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}


@media only screen and (max-width: 60em)
{
  .articleSpacer {
    display: none;
    width: 5vw;
  }
}

.projectList {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: var(--size-columnPaddingMedium);
  flex-shrink: 100;
}
.projectList .article {
  margin-bottom: var(--size-columnPaddingMedium);
}
@media only screen and (max-width: 40em) 
{
  .projectList {
    grid-template-columns: none;
  }
}



/* TRACKER GRAPH */
.trackergraph-legendContainer {
  width: 20px;
  float: left;
  height: var(--size-sectionHeightMin);
}
.trackergraph-legend-svg {
  position:absolute;
}
.trackergraph-container {
  height: var(--size-sectionHeightMin);
}
.trackergraph-image {
  position:relative; 
  overflow: hidden;
  display: flex;
  justify-content: flex-end; 
  height: var(--size-sectionHeightMin);
  z-index: 0;
}
.trackergraph-svg {
  position:absolute;
}
.trackergraph-bar {
  fill: var(--color-primary);
}
.trackergraph-barForcast {
  fill: var(--color-secondary);
}
.trackergraph-bar-null {
  fill: var(--color-tertiary);
}

.trackergraph-label {
  fill: var(--color-secondary);
}
.trackergraph-labelGap {
  fill: var(--color-secondary);
}



/* LIGHTBOX */
.lightbox {
  object-position: center;
  height: 100% !important;
  width: 100%;
}
.lightbox-img {
  position: absolute;
  top: 0;
  left: 50%;
  max-height: 100vh;
  max-width: 100vw;
  transform: translateX(-50%);
  vertical-align: middle;
}



/* SOCIAL ICON */
.socialIcon {
  height: 3.8vw;
  width: 3.8vw;
  opacity: 0.7;
}
.socialIcon:hover {
  opacity: 1;
}
@media screen and (min-width: 80em) { /* MAX WIDTH REACHED */
  .socialIcon {
    height: 3.2em;
    width: 3.2em;
  }
}
@media only screen and (max-width: 50em) { /* MIN WIDTH REACHED */
  .socialIcon {
    height: 2em;
    width: 2em;
  }
}



/* FOOTER */
footer {
  /* height: calc(2 * var(--size-mainPadding)); */
  padding: 0 5vw 0 5vw;
  margin-bottom: var(--size-columnPaddingMedium);
  /* margin-top: calc(-1 * 2 * var(--size-mainPadding)); */
  overflow: hidden;
}
#footerContent {
  height: var(--size-mainPadding);
  display: flex;
  flex-direction: row;
  justify-content: center; /* horizontal */
  align-items: center; /* vertical */
  margin-top: var(--size-columnPaddingMedium);
  width: 100%;
  vertical-align: middle;
}
#footerUpdate {
  height: var(--size-mainPadding);
  display: flex;
  flex-direction: row;
  justify-content: center; /* horizontal */
  align-items: center; /* vertical */
  width: 100%;
  vertical-align: middle;
}
#footerContent > * {
  margin-left: var(--size-columnPaddingMedium);
  margin-right: var(--size-columnPaddingMedium);
}
@media only screen and (max-width: 50em) /* MIN WIDTH REACHED */
{
  #footerContent {
    flex-direction: column;
    align-items: start;
    height: auto;
    margin-bottom: var(--size-columnPaddingMedium);
  }
  #footerContent > * {
    margin-top: var(--size-columnPaddingNormal);
    margin-bottom: var(--size-columnPaddingNormal);
    margin-left: 0px;
    margin-right: 0px;
  }
}
#footerSocial {
  width: 100%;
  text-align: center;
}
#footerSocial > * {
  margin-left: var(--size-columnPaddingMedium);
  margin-right: var(--size-columnPaddingMedium);
}
@media only screen and (max-width: 50em) /* MIN WIDTH REACHED */
{
  #footerSocial {
    text-align: left;
  }
  #footerSocial > * {
    margin-left: 0px;
    margin-right: 0px;
  }
}