* {
  margin: 0;
  padding: 0;
}
html {
  font-family: sans-serif;
  font-weight: 100;
  background-color: #000;
  min-height: 100%; /* For positioning footer at bottom */
  position: relative;
  background-image: url("3_bw.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire */
}

.center {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 80px;
}

.shopify-buy-frame {
	margin: auto;
}